
li{

  list-style-type: none;
padding:20px;
}
ul{
  margin-top: 100px;
}
.one{
position: absolute;
bottom: 20px;
}
.two{
position: absolute;
bottom: 20px;
right: 20px;
}
.three{
position: absolute;
bottom: 300px;
right: 50px;
}
h1{z-index: 1;
  text-align: center;
}
#info{
position: absolute;
top:300px;

}

.four{
    margin-left:400px;

}

#log{

position:absolute;
left:500px;
 }
.five{
position:absolute;
top:200px;
right:400px;

}
#image{
width:100px;
height:200px;
}


